* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

body > .header, .footer {
    padding: 16px 96px;
}

header > * {
    margin: 16px 96px;
}

body > .main > div {
    padding: 48px 96px;
}

.header {
    display: flex;
    background-color: #1F2937;
}

.header * {
    color: #F9FAF8;
}

.header > div {
    display: flex;
    flex: 1;
    font-size: 24px;
    font-weight: bolder;
}

.header > ul {
    display: flex;
    flex: 1;
    gap: 16px;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
}

.main {
    background-color: aliceblue;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-text {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    gap: 32px;
}

.main-text > div {
    flex: 1 1 100%;
    color: #F9FAF8;
}

.main-text :nth-child(1) {
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-text :nth-child(2) {
    display: flex;
    justify-content: end;
}

button {
    padding: 8px 32px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    font-weight: bolder;
}

img {
    max-height: auto;
    max-width: 100%;
    border-radius: 8px;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.box-wrap {
    display: flex;
    gap: 32px;
}

.box > div {
    border: 4px solid #3882F6;
    border-radius: 8px;
    flex: 1;
}

.box > div::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.box > p {
    padding-top: 8px;
    text-align: center;
}

.main-quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.main-quote > p {
    font-size: 24px;
}

.main-quote > h2 {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}

.main-action > div {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
    border-radius: 8px;
}

.main-action > div > button {
    border-color: #F9FAF8;
}

.footer { 
    background-color: #1F2937;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}