* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-wrapper > * {
    padding: 0 48px;
}

header {
    display: flex;
    justify-content: space-between;
    flex: 0 1 64px;
    background-color: #1F2937;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-left {
    font-size: 24px;
    color: #F9FAF8;
}

header ul {
    display: flex;
    gap: 32px;
}

a {
    font-size: 18px;
    color: #F9FAF8;
}

.section {
    flex: 1;
}

/* {
    //everything
    font-family: Roboto, sans-serif;
    //hero/footer
    background-color: #1F2937;
    //hero main text
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    //hero secondary text, header link text
    font-size: 18px;
    color: #E5E7EB;
    //header logo text
    font-size: 24px;
    color: #F9FAF8;
    //button color, call to action background color
    background-color: #3882F6;
    //information header text
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    //quote section background color
    background-color: #E5E7EB;
    //quote text
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
} */